#overlay{
  background:#000;
  border:1px solid black;
  opacity:1.0;
  border: 2px solid;
  border-radius: 25px;
}
/*#overlay_image{
  opacity: 1.0;
}*/
body{
	background: url("stripes.jpg");
}
#header{
	color: white;
}
#resume{
	color: black;
	font-size: 25px;
  overflow-y: scroll; 
  height:600px;
}
#boxShape{
  height: 650px;
}
#response{
  border-radius: 25px;
  background: white ; 
  opacity: 0.6; 
	font-size: 30px;
	/*-webkit-border-image: url('http://www.w3schools.com/css/border.png') 30 30 round; 
  -o-border-image: url('http://www.w3schools.com/css/border.png') 30 30 round; 
  border-image: url('http://www.w3schools.com/css/border.png') 30 30 round;*/
}
#message{
  color: ;
}
#letter_input{
  width: 10%;
}
