#overlay{
  background:#000;
  border:1px solid black;
  opacity:1.0;
  border: 2px solid;
  border-radius: 25px;
}
/*#overlay_image{
  opacity: 1.0;
}*/
body{
	background: url("stripes.jpg");
}
#header{
	color: white;
}
#resume{
	color: black;
	font-size: 25px;
}
#response{
	color: ;
	font-size: 30px;
	-webkit-border-image: url('http://www.w3schools.com/css/border.png') 30 30 round; /* boarder materal for message */
  -o-border-image: url('http://www.w3schools.com/css/border.png') 30 30 round; 
  border-image: url('http://www.w3schools.com/css/border.png') 30 30 round;

}
#letter_input{
  width: 25%;
}
